.vscode/*
.vscode/ftp-sync.json
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/snippets/*
.vscode/*
.vscode/
.vscode

.vscode/ftp-sync.json
vendor/
vendor/*
vendor